body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('Entrada colorida de la escuela infantil (1).png') no-repeat center center/cover;
  height: 100vh;
  color:black;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

nav {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

#slideshow img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: none;
  border-radius: 10px;
}

#slideshow img.active {
  display: block;
}

.dashboard-btn {
  padding: 12px 25px;
  font-size: 18px;
  background-color: blue;
  border: none;
  border-radius: 8px;
  color:white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-btn:hover {
  background-color: white;
}
